<article class="post">
  <div class="title">
    <h1 href="{{post_content}}" target="_blank">{{title}}</h1>
    <span class="content">({{post_content}})</span>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>